        .navbar-shield {
            height: 40px; 
            width: auto;
            border-radius: 50%;
            background-color: white; 
            padding: 2px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            object-fit: contain;
        }

        /* ESTILO PARA EL BANNER DE CHECKOUT (MÁS CORTO) */
        .hero-image-background-checkout {
            background-image: url(../img/bannerweb.jpg); /* Reemplaza con tu URL */
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .hero-image-background-checkout::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* Tonalidad oscura para contraste con el texto blanco */
            background-color: rgba(0, 0, 0, 0.4); 
            z-index: 1;
        }

        .header-content {
            position: relative;
            z-index: 2;
        }