        .card-hover:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        
        /* --- ESTILOS DE IMAGENES --- */
        
        .navbar-shield {
            height: 40px; 
            width: auto;
            border-radius: 50%;
            background-color: white; 
            padding: 2px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            object-fit: contain;
        }

        .hero-image-background {
            /* Asegúrate de que bannerweb.jpg exista en tu carpeta */
            background-image: url(../img/bannerweb.jpg); 
            background-size: cover; /* Cambiado de 100% a cover para mejor adaptación */
            background-position: center; /* Centrado */
            position: relative;
        }

        .hero-image-background::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3); 
            z-index: 1;
        }
        .hero-content {
            position: relative;
            z-index: 2;
            color: white; 
        }

        .text-shadow-lg {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }